@model CategoryListModel
@{
    ViewData["Title"] = "Index";
}

@if (Model.SubbirCategoris.Count > 0)
{

    <div class="table-responsive" style="padding-top:140px;padding-bottom:50px;">

          <h1 class="adminBaslik">1.Alt Kategori List Sayfası </h1>
        <div class="row">
          <div class="container">
                <a class="btn btn-primary btn-block AdminCreateButton" href="~/AltCategori1/Create/">Yeni Alt Bir Kategori Ekle</a>
           </div>
           
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>1.Alt Kategori Adı</th>
                    <th>Kategori Adı</th>
                     <th>Alt Bir Kategori Var mı?</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SubbirCategoris)
                {
                    <tr>
                        <td data-label="Id">@item.Id</td>
                        <td data-label="1.Kategori Adı">@item.Name</td>
                        <td data-label="Ana Kategori">@(item.CategoryId != null ? item.CategoryId.ToString() : "Kategori Yok")</td>
                        <td data-label="Alt Bir Kategori Var mı?">@(!item.IsDeleted ? "Alt Bir Kategori Mevcut" : "Alt Bir Kategori Mevcut Değil")</td>
                        <td data-label="İşlemler">
                            <a class="btn btn-primary btn-sm mr-2" href="~/AltCategori1/Edit/@item.Id">Düzenle</a>
                            <button class="btn btn-danger btn-sm mr-2" onclick="confirmDelete('@item.Id')">Sil</button>
                            @*     <a class="btn btn-danger btn-sm mr-2" href="~/Admin/Delete/@item.Id">Sil</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning">
        <h4>Ürün Bulunamadı</h4>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function confirmDelete(Id) {
        if (confirm('Alt bir kategoriyi silmek istediğinize emin misiniz?')) {
            $.ajax({
                url: '/AltAdminCategoriBir/Delete', // Gidilecek URL
                type: 'POST',
                data: { id: Id },
                success: function (result) {
                    alert('Alt Bir Category Başarıyla Silindi.');
                    window.location.href = '/AltAdminCategoriBir/Index'; // Başarılı olursa Index sayfasına yönlendir
                },
                error: function (xhr, status, error) {
                    alert('Alt Bir Kategori silinirken bir hata oluştu: ' + error);
                }
            });
        }
    }
</script>
