@model ProductModel
@{
    ViewData["Title"] = "ProductsEdit";
}


<style>
    .sutun {
        padding-top: 185px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
    }

    .form-group {
        margin-bottom: 15px;
    }

    form {
        display: grid;
        background-color: #69696947;
        padding-top: 20px;
        padding-bottom: 14px;
    }

    #home-content {
        background-color: lavenderblush
    }

    .kapsa {
        text-align: center;
    }

    .formbutton {
        margin-top: 12px;
    }


    .fc {
        border: 2px solid #0000006b;
        height: 45px;
    }
</style>

<section id="home-content">
    <div class="row sutun">
        <div class="col-md-4 kapsa">
            <form asp-controller="Admin" asp-action="ProductsEdit" method="post">

           <input type="hidden" name="Id" value="@Model.Id"/>

                <div class="form-group">
                    <label asp-for="Name" class="col-md-12 col-form-label"></label>
                    <div class="col-md-12 ">
                        <input asp-for="Name" value="@Model.Name" class="form-control fc" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="col-md-12 col-form-label"></label>
                    <div class="col-md-12">

                        <input asp-for="Price" value="@Model.Price" class="form-control fc" />
                        <span asp-validation-for="Price"  class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="KoliAdet" class="col-md-12 col-form-label"></label>
                    <div class="col-md-12">
                        <input asp-for="KoliAdet" value="@Model.KoliAdet" class="form-control fc" />
                        <span asp-validation-for="KoliAdet" class="text-danger"></span>
                    </div>
                </div>

                <!-- Kategori Dropdown -->
                <div class="form-group">
                    <label asp-for="CategoryId" class="col-md-12 col-form-label">Kategori Seçiniz</label>
                    <div class="col-md-12">
                        <select asp-for="CategoryId" class="form-control fc" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                            <option value="@Model.CategoryId">Kategori Seçiniz</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <!-- Sub Bir Dropdown -->
                <div class="form-group">
                    <label asp-for="SubBirId" class="col-md-12 col-form-label">Sub Bir Kategori Seçiniz</label>
                    <div class="col-md-12">
                        <select asp-for="SubBirId" class="form-control fc" asp-items="@(new SelectList(Model.SubBirCategories, "Id", "Name"))">
                            <option value="@Model.SubBirId">Kategori Seçiniz</option>
                        </select>
                        <span asp-validation-for="SubBirId" class="text-danger"></span>
                    </div>
                </div>

                <!-- Sub İki Category Dropdown -->
                <div class="form-group">
                    <label asp-for="SubIkiId" class="col-md-12 col-form-label">Sub İki Kategori Seçiniz</label>
                    <div class="col-md-12">
                        <select asp-for="SubIkiId" class="form-control fc" asp-items="@(new SelectList(Model.SubIkiCategories, "Id", "Name"))">
                            <option value="@Model.SubIkiId">Kategori Seçiniz</option>
                        </select>
                        <span asp-validation-for="SubIkiId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="col-md-12 col-form-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Description" value="@Model.Description" class="form-control fc" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 offset-md-2">
                        <button type="submit" class="btn btn-primary btn-lg btn-block formbutton">Düzenle</button>

                    </div>
                </div>

            </form>
        </div>

    </div>

</section>

